# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/

# Logs
*.log

# Java
*.class
*.jar
*.war
*.ear

# OS
.DS_Store

# VS Code
.vscode/